/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 1.13rem;
  text-transform: uppercase;
  color: black;
}

h4 {
  color: white;
}

/* UTILITY */
.d-flex {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.container {
  width: 90%;
  max-width: 1455px;
  margin: auto;
  flex-wrap: wrap;
}
/* HEADER  HEADER  HEADER  HEADER  HEADER */
header {
  width: 100%;
  height: 73px;
  line-height: 73px;
  font-size: 1.05rem;
  font-weight: bold;
  color: white;
  background-color: #FF6900;
  margin-bottom: 53px;
  box-shadow: 0px 0px 5px black;

  position: fixed;
  z-index: 10;
}

header .container.d-flex {
  justify-content: space-between;
  padding: 0 10px;
}

header .categories {
  width: 15%;
}

header .categories ul {
  justify-content: flex-start;
}

header .categories li {
  margin-right: 10px;
}

header .logo img {
  height: 32px;
  vertical-align: middle;
}

header .profile {
  width: 15%;
}

header .profile ul {
  justify-content: flex-end;
}

header .profile li {
  margin-left: 10px;
}

/* MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN */
main {
  padding-top: 123px;
}
/* CARDS */
.card {
  width: 465px;
  min-width: 250px;
  margin: 10px 10px 40px;
}

/* CARD TOP */
.card-top {
  position: relative;
}

.card-top img {
  width: 100%;
}

.card-top .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card-top:hover .hover-img {
  z-index: 2;
}

.card-top .heart {
  width: 53px;
  line-height: 53px;
  text-align: center;
  color: black;
  font-size: 2.3rem;
  background-color: white;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 0;
  z-index: 3;
}

.card-top .heart:hover {
  color: red;
}

.card-top .item-characteristics {
  color: white;
  font-size: .87rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 48px;
  z-index: 3;
}

.item-characteristics .discount,
.item-characteristics .sustainability {
  padding: 6px 11px;
}

.item-characteristics .discount {
  background-color: red;
  margin-right: 4px;
}

.item-characteristics .sustainability {
  background-color: #008000;
}

/* CARD BOTTOM */
.card-bottom .brand,
.card-bottom .prices {
  color: #71716F;
  font-size: .87rem;
  font-weight: bold;
}

.card-bottom .prices {
  font-size: .93rem;
}

.card-bottom .prices .current-price {
  color: red;
}

.card-bottom .prices .original-price {
  text-decoration: line-through ;
}

/* FOOTER  FOOTER  FOOTER  FOOTER  FOOTER */
footer {
  background-color: #1A1A1A;
  height: 115px;
  margin-top: 15px;
}

footer .container.d-flex {
  padding: 0 10px;
  justify-content: space-between;
}

footer .info-section,
footer .socials {
  margin-top: 33px;
}

/* INFO SECTION */
footer .info-section h2 {
  color: white;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

footer .info-section li {
  font-size: .9rem;
  margin-right: 10px;
}

/* SOCIAL */
footer .socials {
  width: 150px;
}

footer .socials h4 {
  margin-bottom: 10px;
  font-size: .9rem;
  padding-left: 5px;
}

footer .socials .social-icons {
  font-size: 1.32rem;
  justify-content: space-around;
}